@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-text-base: 0, 0, 0;
    --color-text-status: 124, 124, 124;
    --color-text-link: 67, 117, 251;
    --color-text-fill: 242, 242, 242;
    --color-background-box: 255, 255, 255;
    --color-background-accent: 217, 217, 217;
    --color-button-fill: 67, 117, 251;
  }
}

@layer components {
  .sidebar-text {
    @apply text-skin-base opacity-30 text-[18px] font-[300] p-0 m-0
  }

  .sidebar-text-focus {
    @apply text-skin-base opacity-100 text-[18px] font-[700] p-0 m-0
  }

  .button-blue {
    @apply bg-skin-fill h-[52px] flex justify-center items-center
  }

  .body-box {
    @apply flex justify-between p-[50px] items-center bg-skin-background-box
  }
}
